/* blue grades - root level; text properties for states: normal, hover, click */
.TM0i0 {
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:#0024FF;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none; 
}
.TM0i1 {
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:black;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none; 
}


/* blue grades - root level; box properties for states: normal */
.TM0o0 {
	background: #EEEEEE;
	background-repeat: no-repeat; 
	background-position: left top; 
	background-attachment: scroll; 
	border: 1px solid black;
	border-style:solid;
	padding: 2px; 
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	color: black;
}

/* blue grades - root level; box properties for states: hover, click */
.TM0o1 {
	/* font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; */
	background:#EEEEEE;
	background-repeat: no-repeat; 
	background-position: left top; 
	background-attachment: scroll; 
	border: 1px solid black;
	border-style:solid;
	color: black;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	padding: 2px; 
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
}

/* blue grades - sub levels; box properties for states: normal */
.TM1o0 {
	background: #EEEEEE;
	background-repeat: no-repeat; 
	background-position: left top; 
	background-attachment: scroll; 
	border: 1px solid black;
	border-style:solid;
	color:black;
	font-size: 12px;
	padding: 2px; 
	text-align: center;
	vertical-align: middle;
	text-decoration: none; 
}

/* blue grades - sub levels; box properties for states: hover, click */
.TM1o1 {
	/* font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; */
	background:#EEEEEE;
	background-repeat: no-repeat; 
	background-position: left top; 
	background-attachment: scroll; 
	border: 1px solid black;
	border-style:solid;
	/* color:black; */
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	padding: 2px; 
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
}
.TMxxx {
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	background: #EEEEEE;
	background-repeat: no-repeat; 
	background-position: left top; 
	background-attachment: scroll; 
	border: 1px solid black;
	border-style:solid;
	color:black;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	padding: 2px; 
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	
}